<div class="container mt-5">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h2>Registrarse</h2>
      <form>
        <div class="mb-3">
          <label for="registerName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="registerName" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <label for="registerEmail" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="registerEmail" placeholder="Correo Electrónico">
        </div>
        <div class="mb-3">
          <label for="registerPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="registerPassword" placeholder="Contraseña">
        </div>
        <button type="button" class="btn btn-success">Registrarse</button>
        <div class="form-text">
          Ya tengo una cuenta. <a [routerLink]="['/auth', 'login']">Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>
</div>
